# Arquivos temporários 
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Build / distribuição
build/
dist/

# Resultados 
results.csv
*.png
